/PartTimeV1.Tests/bin
/PartTimeV1.Tests/obj
/PartTimeV1/bin
/PartTimeV1/obj
/.vs/PartTimeV1/config/applicationhost.config
/.vs/PartTimeV1/v16/.suo
/.vs/PartTimeV1/v16/Server/sqlite3/db.lock
/.vs/PartTimeV1/v16/Server/sqlite3/storage.ide
/.vs/PartTimeV1/v16/Server/sqlite3
/PartTimeV1/App_Data
/PartTimeV1/Properties/PublishProfiles

/packages/log4net.2.0.8/lib
/packages/log4net.2.0.8/.signature.p7s
/PartTimeV1/logs
/PartTimeV1.Data/bin
/PartTimeV1.Data/obj
