/PartTimeV1.Tests/bin
/PartTimeV1.Tests/obj
/PartTimeV1/bin
/PartTimeV1/obj
/.vs/PartTimeV1/config/applicationhost.config
/.vs/PartTimeV1/v16/.suo
/.vs/PartTimeV1/v16/Server/sqlite3/db.lock
/.vs/PartTimeV1/v16/Server/sqlite3/storage.ide
/.vs/PartTimeV1/v16/Server/sqlite3
