USE [PartTime]
GO
/****** Object:  Table [dbo].[BrandsList]    Script Date: 7/2/2020 11:20:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrandsList](
	[Id] [int] NOT NULL,
	[Company] [nvarchar](190) NOT NULL,
	[Brand] [nvarchar](190) NOT NULL,
 CONSTRAINT [PK_BrandsList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 7/2/2020 11:20:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Postcode] [int] NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 7/2/2020 11:20:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictId] [int] NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Districts] PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 7/2/2020 11:20:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[ProvinceId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_provinces] PRIMARY KEY CLUSTERED 
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BrandsList] ([Id], [Company], [Brand]) VALUES (1, N'Hemas ', N'Velvet')
INSERT [dbo].[BrandsList] ([Id], [Company], [Brand]) VALUES (2, N'Hemas ', N'Clogard')
INSERT [dbo].[BrandsList] ([Id], [Company], [Brand]) VALUES (3, N'Hemas ', N'Goya')
INSERT [dbo].[Cities] ([Id], [DistrictId], [Name], [Postcode]) VALUES (1, 1, N'Akkaraipattu', 32400)
INSERT [dbo].[Cities] ([Id], [DistrictId], [Name], [Postcode]) VALUES (2, 1, N'Ambagahawatta', 90326)
INSERT [dbo].[Cities] ([Id], [DistrictId], [Name], [Postcode]) VALUES (3, 1, N'Ampara', 32000)
GO
INSERT [dbo].[Districts] ([DistrictId], [ProvinceId], [Name]) VALUES (1, 6, N'Ampara')
INSERT [dbo].[Districts] ([DistrictId], [ProvinceId], [Name]) VALUES (2, 8, N'Anuradhapura')
INSERT [dbo].[Districts] ([DistrictId], [ProvinceId], [Name]) VALUES (3, 7, N'Badulla')
INSERT [dbo].[Provinces] ([ProvinceId], [Name]) VALUES (1, N'Western')
INSERT [dbo].[Provinces] ([ProvinceId], [Name]) VALUES (2, N'Central')
INSERT [dbo].[Provinces] ([ProvinceId], [Name]) VALUES (3, N'Southern')
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([DistrictId])
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([ProvinceId])
GO
