@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Part Time</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/TemplateAssets/DashBord/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/TemplateAssets/DashBord/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/TemplateAssets/DashBord/plugins/daterangepicker/daterangepicker.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/TemplateAssets/DashBord/dist/css/adminlte.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/TemplateAssets/DashBord/plugins/select2/css/select2.min.css">

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">

                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/TemplateAssets/DashBord/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Part Time</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Registration
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->

        <div class="wrapper">

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Profile</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="card card-default">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>සැලකිය යුතු කරුණු</label>
                                        <ol>
                                            <li>
                                                සේවායෝජකයා නියම කල නීති රීති අනුව කිසිඳු අතපසු කිරීමකින් තොරව සේවය සිදුකරන අතර එසේ නොවී මා කරන ඕනෑම වරදකදී වැටුපෙන් යම් ප්‍රමාණයක් හෝ සම්පූර්ණ මුදලම අඩු කර ගැනීමට parttime.lk වෙත අයිතිය ඇති බව දනිමි.
                                            </li>
                                            <li>
                                                භාරගත් කාර්යය පැහැර හැරීම, අසත්‍ය තොරතුරු ලබා දීම, පොරොන්දු පරිදි කටයුතු නොකිරීම තුලින් parttime.lk ආයතනයේ මාගේ සාමාජිකත්වය කිසිදිනක ලබා ගත නොහැකි ලෙස තහනම් (Permanent Suspend / Banned ) වන බව දනිමි.
                                            </li>
                                        </ol>
                                    </div>
                                </div>

                                <hr />

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>1. Full Name/සම්පුර්ණ නම:</label>
                                            <input id="fullname" type="text" class="form-control" placeholder="සම්පුර්ණ නම">
                                        </div>
                                        <div class="form-group">
                                            <label>2. Short Name/කෙටි නම:</label>
                                            <input id="shortname" type="text" class="form-control" placeholder="කෙටි නම">
                                        </div>
                                        <div class="form-group">
                                            <label>3. NIC/ජාතික හැදුනුම්පත් අංකය:</label>
                                            <input id="nicno" type="text" class="form-control" placeholder="ජාතික හැදුනුම්පත් අංකය" style="width: 50%">
                                        </div>

                                        <label for="photos">4. Photos/ඡායාරූප:</label>
                                        <ul>
                                            <li>ඔබගේ මුහුණ පැහැදිලිව හඳුනාගත හැකි, අනවශ්‍ය ලෙස edit නොකල ඡායාරූප පමණක් ඇතුලත් කිරීමට වග බලා ගත යුතුය.</li>
                                            <li>Full Photo 1ක් ද ඇතුලත් කරන්න.</li>
                                            <li>කාන්තාවන් make up රහිත, unedited ඡායාරූප අවම වශයෙන් 1ක්වත් ඇතුලත් කල යුතු වේ.</li>
                                            <li>ඡායාරූප 5ම ඇතුලත් කිරීම මඟින් වැඩි ප්‍රතිඵලයක් ලබා ගත හැක.</li>
                                        </ul>
                                        <div class="form-group">
                                            <label for="exampleInputFile"></label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <img id="Image1" alt="image" width="80" height="55" />
                                                    <input id="image01" type="file" onchange="document.getElementById('Image1').src = window.URL.createObjectURL(this.files[0])">
                                                </div>
                                            </div>

                                            <label for="exampleInputFile"></label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <img id="Image2" alt="image" width="80" height="55" />
                                                    <input id="image02" type="file" onchange="document.getElementById('Image2').src = window.URL.createObjectURL(this.files[0])">
                                                </div>
                                            </div>


                                            <label for="exampleInputFile"></label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <img id="Image3" alt="image" width="80" height="55" />
                                                    <input id="image03" type="file" onchange="document.getElementById('Image3').src = window.URL.createObjectURL(this.files[0])">
                                                </div>
                                            </div>


                                            <label for="exampleInputFile"></label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <img id="Image4" alt="image" width="80" height="55" />
                                                    <input id="image04" type="file" onchange="document.getElementById('Image4').src = window.URL.createObjectURL(this.files[0])">
                                                </div>
                                            </div>

                                            <label for="exampleInputFile"></label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <img id="Image5" alt="image" width="80" height="55" />
                                                    <input id="image04" type="file" onchange="document.getElementById('Image5').src = window.URL.createObjectURL(this.files[0])">
                                                </div>
                                            </div>
                                        </div>

                                        <br />

                                        <div class="form-group">
                                            <label>5. Mobile Numbers/දුරකතන අංක:</label>
                                            <ul>
                                                <li>ඔබව සම්බන්ද කරගත හැකි ප්‍රදාන අංකය.</li>
                                                <li>එම අංකය සදහා Whatsapp, Viber බාවිතා වන්නේ අංකය පහල අදාල කොටුද සලකුණු කරන්න.</li>
                                            </ul>
                                            <input id="mobile01" type="number" class="form-control" placeholder="ප්‍රදාන දුරකතන අංකය" style="width: 50%">
                                            <div class="form-check">
                                                <input type='checkbox' id='whatsApp1' value='yes' />
                                                <span style="width:100px;display:inline-block;">WhatsApp</span>
                                                <input type="checkbox" id="viber1" value="yes" />
                                                <span style="width:100px;display:inline-block;">Viber</span>
                                            </div>

                                            <label></label>
                                            <ul>
                                                <li>වෙනත් අංක:</li>
                                            </ul>
                                            <input id="mobile02" type="number" class="form-control" placeholder="දුරකතන අංකය" style="width: 50%">
                                            <div class="form-check">
                                                <input type='checkbox' id='whatsApp2' value='yes' />
                                                <span style="width:100px;display:inline-block;">WhatsApp</span>
                                                <input type="checkbox" id="viber2" value="yes" />
                                                <span style="width:100px;display:inline-block;">Viber</span>
                                            </div>

                                            <label></label>
                                            <ul>
                                                <li>වෙනත් අංක:</li>
                                            </ul>
                                            <input id="mobile03" type="number" class="form-control" placeholder="දුරකතන අංකය" style="width: 50%">
                                            <div class="form-check">
                                                <input type='checkbox' id='whatsApp3' value='yes' />
                                                <span style="width:100px;display:inline-block;">WhatsApp</span>
                                                <input type="checkbox" id="viber3" value="yes" />
                                                <span style="width:100px;display:inline-block;">Viber</span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label>6. DOB/උපන් දිනය :</label>
                                            <input id="dob" type="number" class="form-control" placeholder="උපන් දිනය" style="width: 50%">
                                        </div>

                                        <div class="form-group">
                                            <label>7. Age/වයස:</label>
                                            <input id="age" type="number" class="form-control" placeholder="වයස" style="width: 50%">
                                        </div>

                                        <div class="form-group">
                                            <label>8. Gender/ස්ත්‍රී පුරුෂ බව:</label>
                                            <div class="form-check">
                                                <input type='radio' id='gender' value='yes' name="gender" />
                                                <span style="width:100px;display:inline-block;">Male/පුරුෂ</span>
                                                <input type="radio" id="gender" value="yes" name="gender" />
                                                <span style="width:100px;display:inline-block;">Female/ස්ත්‍රී</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>9. Current City/දැනට පදිංචිය:</label>
                                            <div class="row">
                                                <div class="col">
                                                    <select id="currentdistrict" style="width: 100%;">
                                                        <option value="">Select District</option>
                                                        <option value="">Gampaha</option>
                                                    </select>
                                                </div>

                                                <div class="col">
                                                    <select id="currentcity" style="width: 100%;">
                                                        <option value="volvo">Select Town</option>
                                                        <option value="">Miriswattha</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>10. Home Town/ස්තීර පදිංචිය:</label>
                                            <div class="row">
                                                <div class="col">
                                                    <select id="homedistrict" style="width: 100%;">
                                                        <option value="">Select District</option>
                                                        <option value="">Gampaha</option>
                                                    </select>
                                                </div>

                                                <div class="col">
                                                    <select id="hometown" style="width: 100%;">
                                                        <option value="volvo">Select Town</option>
                                                        <option value="">Miriswattha</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>11. T-shirt size: </label>
                                            <div class="form-check">
                                                <input type='radio' id='tsize' value='yes' name="tsize" />
                                                <span style="width:40px;display:inline-block;">S</span>
                                                <input type="radio" id="tsize" value="yes" name="tsize" />
                                                <span style="width:40px;display:inline-block;">M</span>
                                                <input type='radio' id='tsize' value='yes' name="tsize" />
                                                <span style="width:40px;display:inline-block;">L</span>
                                                <input type="radio" id="tsize" value="yes" name="tsize" />
                                                <span style="width:40px;display:inline-block;">XL</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>12. I am:</label>
                                            <div class="form-check">

                                                <div id="student1">
                                                    <input id="student" class="form-check-input" type="checkbox">
                                                    <label class="form-check-label">A Student/ශිෂ්‍ය</label>
                                                </div>

                                                <div id="studentdetails" style="display:none;">
                                                    <ul>
                                                        <li><input id="studentdetails1" type="text" class="form-control" placeholder="University/විශ්ව විද්‍යාලය" style="width: 80%"></li>
                                                        <li><input id="studentdetails2" type="text" class="form-control" placeholder="Course/හදාරන උපාදියේ නම" style="width: 80%"></li>
                                                        <li><input id="studentdetails3" type="text" class="form-control" placeholder="Year/ඉගනුම ලබන වසර" style="width: 80%"></li>
                                                    </ul>
                                                </div>

                                                <div id="employee1">
                                                    <input id="employee" class="form-check-input" type="checkbox">
                                                    <label class="form-check-label">Full time employed/දැනට පුර්ණකාලීන රැකියාවක නිරතවේ </label>
                                                </div>

                                                <div id="employeedetails" style="display:none;">
                                                    <ul>
                                                        <li><input id="employeedetails1" type="text" class="form-control" placeholder="Company/ආයතනය" style="width: 80%"></li>
                                                        <li><input id="employeedetails2" type="text" class="form-control" placeholder="Branch/නගරය" style="width: 80%"></li>
                                                        <li><input id="employeedetails3" type="text" class="form-control" placeholder="Designation/තනතුර" style="width: 80%"></li>
                                                    </ul>
                                                </div>

                                                <div id="parttime1">
                                                    <input id="parttime" class="form-check-input" type="checkbox">
                                                    <label class="form-check-label">Full time promoter/දැනට පුර්ණකාලීන ප්‍රවර්දකයෙක් ලෙස කටුතු කරයි </label>
                                                </div>
                                            </div>

                                            <div class="form-check">
                                                <input id="freelance" class="form-check-input" type="checkbox">
                                                <label class="form-check-label">Searching for part time work on weekends or selected days/සති අන්ත හෝ සතියේ දින වල ප්‍රවර්දකයෙක් ලෙස කටයුතු කෙරීමට කැමති </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>13. English speaking/ඉංග්‍රීසි හොදින් හසුරවයි නම් Fluent යොදන්න:</label>
                                            <input id="englishlan" type="text" class="form-control" placeholder="Fluent" style="width: 50%">
                                        </div>
                                        <div class="form-group">
                                            <label>14. Tamil speaking/දෙමල හොදින් හසුරවයි නම් Fluent යොදන්න:</label>
                                            <input id="tamillan" type="text" class="form-control" placeholder="Type" style="width: 50%">
                                        </div>

                                        <div class="form-group">
                                            <label>15. Sales promotion experience/ප්‍රවර්දකයෙක් ලෙස අත්දැකීමේ ඇතිනම්: </label>
                                            <input id="promoexperience" type="number" class="form-control" placeholder="Year/වසර ගණන" style="width: 50%">
                                        </div>

                                        <div class="form-group">
                                            <label>16. Brands/අත්දැකීම ඇති වෙළද නාම:</label>
                                            <div class="select2-blue">
                                                <select id="brandnames" class="select2" multiple="multiple" data-placeholder="Select" data-dropdown-css-class="select2-blue" style="width: 100%;">
                                                    <option>Select</option>
                                                    <option>Elephant House</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>17. Other part time experience/වෙනත් අත්දැකීමේ ඇතිනම්:</label>
                                            <div class="select2-blue">
                                                <select id="otherpromoexperience" class="select2" multiple="multiple" data-placeholder="Select" data-dropdown-css-class="select2-blue" style="width: 100%;">
                                                    <option>Select</option>
                                                    <option>Data entry</option>
                                                    <option>Leaflet</option>
                                                    <option>Photography/Videography </option>
                                                    <option>Cooking</option>
                                                    <option>Catering</option>
                                                    <option>Delivery/ packing</option>
                                                    <option>Stock counting</option>
                                                    <option>Modeling</option>
                                                    <option>Cheering </option>
                                                    <option>Acting</option>
                                                    <option>Dancing</option>
                                                    <option>Magic shows </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr />

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="confirm">
                                                <label class="form-check-label">I would like to participate/මම සහබාගී වීමට කැමැත්තෙමි </label>
                                                <button type="submit" class="btn btn-info">Save</button>
                                                <button type="submit" class="btn btn-warning">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer">
                <div class="float-right d-none d-sm-block">
                    <b>Version</b> 1.0.1
                </div>
                @*<strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
                    reserved.*@
            </footer>

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

    </div>

    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@

    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/TemplateAssets/WebSite/assets/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/TemplateAssets/WebSite/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/TemplateAssets/DashBord/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/TemplateAssets/DashBord//plugins/daterangepicker/daterangepicker.js"></script>
    <!-- AdminLTE App -->
    <script src="~/TemplateAssets/DashBord/dist/js/adminlte.js"></script>
    <!-- Select2 -->
    <script src="~/TemplateAssets/DashBord/plugins/select2/js/select2.full.min.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    @*<script src="~/TemplateAssets/DashBord/dist/js/demo.js"></script>*@

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    @*<script src="~/TemplateAssets/DashBord/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
        <script src="~/TemplateAssets/DashBord/plugins/raphael/raphael.min.js"></script>
        <script src="~/TemplateAssets/DashBord/plugins/jquery-mapael/jquery.mapael.min.js"></script>
        <script src="~/TemplateAssets/DashBord/plugins/jquery-mapael/maps/usa_states.min.js"></script>*@
    <!-- ChartJS -->
    @*<script src="~/TemplateAssets/DashBord/plugins/chart.js/Chart.min.js"></script>*@

    <!-- PAGE SCRIPTS -->
    @*<script src="~/TemplateAssets/DashBord/dist/js/pages/dashboard2.js"></script>*@

    @Scripts.Render("~/Scripts/Js/index.js")

</body>
</html>
